In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Загрузка данных

In [ ]:
works = pd.read_csv("works.csv")

In [ ]:
works.head()

In [ ]:
works.info()

## 1. Узнать общее количество записей в датасете

1. Узнать количество записей в DataFrame можно в информации о DataFrame в поле RangeIndex

In [ ]:
works.info()

2. Узнать количество записей в DataFrame можно по первому элементу tuple, содержащего размерность DataFrame

In [ ]:
works.shape[0]

3. Узнать количество записей в DataFrame можно с помощью функции len и индекса DataFrame

In [ ]:
len(works.index)

# 2. Узнать количество мужчин и женщин в датасете

1. Применяя метод value_counts для столбца можно узнать все уникальные значения в данном столбце и их количество

In [ ]:
works["gender"].value_counts()

2. Чтобы найти количество определенных значений в столбце мы можем использовать булевую индексацию

In [ ]:
# Мужчины
# works[works["gender"] == "?"]

In [ ]:
# Женщины

# 3. Узнать сколько значений в столбце skills не NAN

1. Для этого применим функцию count к столбцу skills

2. Также данную информацию можно получить с помощью метода info DataFrame

# 4. Получить все заполненные скиллы

In [ ]:
# Функция dropna

# 5. Вывести зарплату только у тех, у которых в скиллах есть Python (Питон)

# 6. Построить перцентили по заработной плате у мужчин и женщин.

In [ ]:
# Использовать query и quantile
# men_salary = 
men_salary

In [ ]:
fig, ax = plt.subplots()
ax.plot(percentiles, men_salary)
plt.xlabel("Перцентили")
plt.ylabel("Зарплата мжучин")

plt.show()

In [ ]:
# Женщины

In [ ]:
fig, ax = plt.subplots()
ax.plot(percentiles, women_salary)
plt.xlabel("Перцентили")
plt.ylabel("Зарплата женщин")

plt.show()

# 7*. Построить графики распределения по заработной плате мужчин и женщин в зависимости от высшего образования

In [ ]:
# Мужчины
# men_salary = works.groupby("???").agg("mean").reset_index()
men_salary

In [ ]:
# Женщины
# women_salary = 
women_salary

In [ ]:
# works.query("gender == '??' and educationType == '??'").hist(bins=100, alpha=0.5)